<!DOCTYPE html>
<html>
<head>
	<title>Linear Optimization</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
</head>
<body ng-app = "linearOptimizationApp">
	<div class="jumbotron">
		<div class ="container">
			<div class="row">
				<div ui-view></div>
			</div>
		</div>
	</div>

<script src="//code.angularjs.org/1.2.20/angular.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.min.js"></script>
<script src="../app.js"></script>
<script src="../controllers/setupCtrl.js"></script>
</body>
</html>