<fieldset class="form-group">
<label for="getDecisionVariables">How many decision variables?</label>
<input type="text" class="form-control" id="getDecisionVariables" placeholder="Decision Variable(s)" ng-model="numDecVars">
</fieldset>

<fieldset class="form-group">
<label for="getNumConstraints">How many constraints?</label> <input type="text" class="form-control" id="getNumConstraints" placeholder="Number of Constraint(s)" ng-model="numCons">
</fieldset>


<ul>
	<li ng-repeat = "id in numDecisionVars">
	...
	<input type="text" class="form-control" id="{{id}}" placeholder="0-9" ng-model="input_{{id}}">{{id}}</input>
	</li>
</ul>

<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="form.getValues" class="btn btn-block btn-info" ng-click="getValues()">
    Setup Initial Tableau <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
