<fieldset class="form-group">
<label for="getDecisionVariables">How many decision variables? {{numDecisionVars}}</label>
<input type="text" class="form-control" id="getDecisionVariables" placeholder="Decision Variable(s)" ng-model="numDecisionVars">
</fieldset>

<fieldset class="form-group">
<label for="getNumConstraints">How many constraints? {{numConstrainVars}}</label> <input type="text" class="form-control" id="getNumConstraints" placeholder="Number of Constraint(s)" ng-model="numConstrainVars">
</fieldset>

<div> <button ng-click="getValues()"> GetValues() </button></div>
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="form.getValues" class="btn btn-block btn-info" ng-click="getValues()">
    Setup Initial Tableau <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
